<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Dmx_AttributeIcons>
			<version>1.0.4</version>
		</Dmx_AttributeIcons>
	</modules>
	<global>
		<models>
			<attributeicons>
				<class>Dmx_AttributeIcons_Model</class>
				<resourceModel>attributeicons_resource</resourceModel>
			</attributeicons>
			<attributeicons_resource>
				<class>Dmx_AttributeIcons_Model_Resource</class>
				<deprecatedNode>visual_mysql4</deprecatedNode>
				<entities>
					<data>
						<table>attributeicons_data</table>
					</data>
				</entities>
			</attributeicons_resource>
			<eav>
				<rewrite>
					<entity_attribute_frontend_default>Dmx_AttributeIcons_Model_Catalog_Attribute_Frontend_Default</entity_attribute_frontend_default>
					<!-- entity_attribute_source_table>Dmx_AttributeIcons_Model_Catalog_Attribute_Source_Default</entity_attribute_source_table -->
				</rewrite>
			</eav>
		</models>
		<helpers>
			<attributeicons>
				<class>Dmx_AttributeIcons_Helper</class>
			</attributeicons>
		</helpers>
		<blocks>
			<attributeicons>
				<class>Dmx_AttributeIcons_Block</class>
			</attributeicons>
			<catalog>
				<rewrite>
					<layer_state>Dmx_AttributeIcons_Block_Catalog_Layer_State</layer_state>
				</rewrite>
			</catalog>
			<checkout>
				<rewrite>
					<cart_item_renderer>Dmx_AttributeIcons_Block_Cart_Item_Renderer</cart_item_renderer>
					<cart_item_renderer_configurable>Dmx_AttributeIcons_Block_Cart_Item_Renderer_Configurable</cart_item_renderer_configurable>
				</rewrite>
			</checkout>
		</blocks>
		<resources>
			<attributeicons_setup>
				<setup>
					<module>Dmx_AttributeIcons</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
				</setup>
			</attributeicons_setup>
		</resources>
	</global>
	<frontend>
		<layout>
			<updates>
				<default>
					<file>attributeicons.xml</file>
				</default>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<dmx_attributeicons before="Mage_Adminhtml">Dmx_AttributeIcons_Adminhtml</dmx_attributeicons>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<default>
		<attributeicons>
			<renderer>
				<types>
					<image>attributeicons/renderer/type/image.phtml</image>
					<text>attributeicons/renderer/type/text.phtml</text>
				</types>
			</renderer>
			<size>
				<icon>
					<width>50</width>
					<height>50</height>
				</icon>
			</size>
		</attributeicons>
	</default>
</config>