<?xml version="1.0"?>
<config>
    <modules>
        <Vovsky_Customerprice>
            <version>0.0.1</version>
        </Vovsky_Customerprice>
    </modules>
    <global>
        <models>
            <customerprice>
                <class>Vovsky_Customerprice_Model</class>
                <resourceModel>customerprice_resource</resourceModel>
            </customerprice>
            <customerprice_resource>
                <class>Vovsky_Customerprice_Model_Resource</class>
                <deprecatedNode>vovsky_resource_eav_mysql4</deprecatedNode>
                <entities>
                    <customer_price>
                        <table>vovsky_catalog_product_entity_customer_price</table>
                    </customer_price>
                </entities>
            </customerprice_resource>
            <catalog>
                <rewrite>
                    <product_type_price>Vovsky_Customerprice_Model_Catalog_Product_Type_Price</product_type_price>
                    <product_type_configurable_price>Vovsky_Customerprice_Model_Catalog_Product_Type_Configurable_Price</product_type_configurable_price>
                </rewrite>
            </catalog>
        </models>
        <resources>
            <customerprice_setup>
                <setup>
                    <module>Vovsky_Customerprice</module>
                    <class>Vovsky_Customerprice_Model_Resource_Setup</class>
                </setup>
            </customerprice_setup>
        </resources>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <customerprice>
                        <class>customerprice/observer</class>
                        <method>applyCustomerPrice</method>
                    </customerprice>
                </observers>
            </checkout_cart_product_add_after>
            <checkout_cart_update_items_after>
                <observers>
                    <customerprice>
                        <class>customerprice/observer</class>
                        <method>updateCustomerPrice</method>
                    </customerprice>
                </observers>
            </checkout_cart_update_items_after>
            <sales_quote_item_set_product>
                <observers>
                    <customerprice>
                        <class>customerprice/observer</class>
                        <method>setProduct</method>
                    </customerprice>
                </observers>
            </sales_quote_item_set_product>
            <catalog_block_product_list_collection>
                <observers>
                    <customerprice>
                        <class>customerprice/observer</class>
                        <method>joinCollection</method>
                    </customerprice>
                </observers>
            </catalog_block_product_list_collection>
            <prepare_catalog_product_collection_prices>
                <observers>
                    <customerprice>
                        <class>customerprice/observer</class>
                        <method>joinSalesQuoteCollection</method>
                    </customerprice>
                </observers>
            </prepare_catalog_product_collection_prices>
            <adminhtml_catalog_product_edit_prepare_form>
                <observers>
                    <customerprice>
                        <class>customerprice/observer</class>
                        <method>setFormElemRenderer</method>
                    </customerprice>
                </observers>
            </adminhtml_catalog_product_edit_prepare_form>
        </events>
        <blocks>
            <customerprice>
                <class>Vovsky_Customerprice_Block</class>
            </customerprice>
        </blocks>
        <helpers>
            <customerprice>
                <class>Vovsky_Customerprice_Helper</class>
            </customerprice>
        </helpers>
    </global>
    <frontend>
        <routers>
            <customerprice>
                <use>standard</use>
                <args>
                    <module>Vovsky_Customerprice</module>
                    <frontName>customerprice</frontName>
                </args>
            </customerprice>
        </routers>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <customerprice_options>
                                            <title>Customer Price</title>
                                        </customerprice_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>